@model int

<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Customer" asp-controller="ShoppingCart" asp-action="Index">
        <i class="bi bi-cart"></i>
        <span class="badge bg-secondary">@Model</span>
    </a>
</li>